location = "northeurope"
onprem_resource_group_name = "asrdemo-rg1"
onprem_vnet_name = "onprem-vnet"
onprem_subnet_name = "workload-subnet"
onprem_nsg_name = "onprem-nsg"
hyperv_hostname = "hypervhost"
hyperv_host_size = "Standard_D16ds_v5"
admin_ip_address = "167.220.0.0/16"
use_bastion = false
use_public_ip_address = true
