# Global variables
location = "swedencentral"
use_bastion = true
use_public_ip_address = false
admin_ip_address = "167.220.0.0/16"
#admin_password = "P4ssword!!!!"
group_label = "group1"

# Variables describing the simulated on-premises environment
onprem_resource_group_name = "asrdemo-onprem"
onprem_vnet_name = "onprem-vnet"
onprem_subnet_name = "workload-subnet"
onprem_nsg_name = "onprem-nsg"
hyperv_hostname = "hypervhost"
# A virtual machine with temporary disk is recommended, to speed up the deployment of Hyper-V machines later on
hyperv_host_size = "Standard_D16ds_v5"

# Variables describing the Azure environment
azure_resource_group_name = "asrdemo-azure"
azure_vnet_name = "azure-vnet"
azure_test_vnet_name = "azure-test-vnet"
azure_subnet_name = "asr-subnet"
azure_nsg_name = "azure-nsg"
recovery_vault_name = "asrdemo-rsv"
storage_account_prefix = "asrdemo"

# Set to non-zero if we should create some public IP addresses for attaching to VMs during test failover
failover_public_ip_count = 0
